# Numerous always-ignore extensions
*~
.cache
capybara-*.html
*.diff
.DS_Store
*.err
*.esproj
*.komodoproject
.komodotools
*.log
nbproject
**.orig
pickle-email-*.html
.project
*.rbc
*.rej
rerun.txt
.rspec
*.sassc
.sass-cache
.settings
*.sublime-project
*.sublime-workspace
*.swo
*.swp
Thumbs.db
.tmproj
*.vi
.CVS
.hg
.idea
.svn
/.bundle
/vendor/bundle
/vendor/bundler
/node_modules
/coverage/
/spec/tmp/*
db/*.sqlite3
/tmp

# Project-specific ignores
config/newrelic.yml
.env
