<article class="event">
  <%= link_to event_path(event) do %>

    <img class="thumbnail" alt="" />

    <hgroup>
      <h1><%= event.name %></h1>
      <time datetime="TODO-ISO-DATE">TODO: Formatted dates for sale times and held-at dates</time>
      <%= content_tag :p, event.tagline, :class => 'tagline' %>
    </hgroup>

  <% end %>
</article>
