<article class="event">
  <%= link_to event_path(event) do %>

    <img class="thumbnail" alt="" />

    <hgroup>
      <h1><%= event.name %></h1>
      <%= content_tag :time, pretty_date_and_time_range(event.began_at, event.finished_at) %>
      <%= content_tag :p, event.tagline, :class => 'tagline' %>
    </hgroup>

  <% end %>
</article>
