<ul class="events row">
  <li class="twelve columns panel">
    <a class="row">
      <div class="three columns"><img /></div>
      <div class="six columns">
        <h1>SMASH! 2013</h1>
        <time datetime="2013-08-10">Saturday August 10, 2013</time>
        <p>We're back.</p>
      </div>
      <div class="three columns">Check it out. &raquo;</div>
    </a>
  </li>
  <li class="twelve columns panel">
    <a class="row">
      <div class="three columns"><img /></div>
      <div class="six columns">
        <h1>SMASH! 2013</h1>
        <time datetime="2013-08-10">Saturday August 10, 2013</time>
        <p>We're back.</p>
      </div>
      <div class="three columns">Check it out. &raquo;</div>
    </a>
  </li>
</ul>
