<article class="event event-detail">
  <img class="thumbnail" alt="" />

  <hgroup>
    <h1><%= @event.name %></h1>
    <%= content_tag :time, pretty_date_and_time_range(@event.began_at, @event.finished_at) %>
  </hgroup>

  <section>
    <%= @event.description %>
  </section>

  <aside></aside>
</article>
