<article class="event event-detail">
  <img class="thumbnail" alt="" />

  <hgroup>
    <h1><%= @event.name %></h1>
    <time datetime="TODO-ISO-DATE">TODO: Formatted dates for sale times and held-at dates</time>
  </hgroup>

  <section>
    <%= @event.description %>
  </section>

  <aside></aside>
</article>
